[Unit]
Description=Redborder nginx

[Service]
ExecStart=/usr/lib/redborder/bin/rb_nginx_start.sh
Restart=always

[Install]
WantedBy=multi-user.target
