[Unit]
Description=Redborder postgresql

[Service]
ExecStart=/usr/lib/redborder/bin/rb_postgresql_start.sh
Restart=always
User=opscode-pgsql

[Install]
WantedBy=multi-user.target
