[Unit]
Description=Redborder redis_lb

[Service]
ExecStart=/usr/lib/redborder/bin/rb_redis_lb_start.sh
Restart=always
User=opscode
Group=opscode
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target

