[Unit]
Description=Redborder opscode-erchef

[Service]
ExecStart=/usr/lib/redborder/bin/rb_opscode-erchef_start.sh
Restart=always

[Install]
WantedBy=multi-user.target

