[Unit]
Description=Redborder rabbitmq

[Service]
ExecStart=/usr/lib/redborder/bin/rb_rabbitmq_start.sh
Restart=always

[Install]
WantedBy=multi-user.target

